/**
*  ------------------------------------------------------------------------------------------------
*
*
*   CHECKOUT FORM (FINALIZAR COMPRA)
*
*
*  ------------------------------------------------------------------------------------------------
*/

ul.wc_cotapay_payment_methods.cotapay_payment_methods.cotapay_methods{
  padding-left: 0px;
  margin-left: 0px;
}

.cotapay-pagamento-content{
  display: none;
}

/* MÉTODO COM CARTÃO DE CRÉDITO JÁ COMEÇA ATIVO  */
.cotapay-pagamento-content.cotapay-pagamento-cartaodecredito{
  display: block;
}

.cotapay-form-group {
   margin-bottom: 1rem;
}

.cotapay-form-group label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.cotapay-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cotapay-form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.cotapay-form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.cotapay-form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.cotapay-form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.cotapay-form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.cotapay-form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

select.cotapay-form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}












